.slick-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slick-track {
  display: flex !important;
  align-items: center;
}
.custom-dots {
  position: absolute;
  bottom: 28px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.custom-dots li {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.custom-dots li button {
  overflow: hidden;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #5c6373;
  display: block;
  color: transparent;
}

.custom-dots li button:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '*';
}

.custom-dots li.slick-active button {
  background-color: #ffffff;
  opacity: 1;
  color: #ffffff;
  content: '*';
}
